.App {
  text-align: auto;
  margin-bottom: 1cm;
  zoom: 95%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #00539f;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color:white;
}

.logo{
  height: 11%;
  width: 8%;
  position: absolute;
  left: 1%;
  top: 2%;
}

.help{

  position: absolute;
  right: 1%;
  top: 2%;


}


.deletecourse{
  color: #700101;
  text-align: center;
}
.editcourse{
  text-align: center;  
}
.Actions{
  text-align: center;
  margin: 5px;
}



table, th, td, thead, tr {
  border: 1px solid black;
}

table{
  word-break: break-all;
  vertical-align: middle;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.Year{
  padding: 0.2%;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.Semester{
  text-align: left;
  margin-left: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

