.App {
  text-align: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #038cfc;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color:white;
}

.btn-lg{
  width: 20%;
}
.custom{
  position: absolute;
  left: auto;
  top: 15%;
}
.logo{
  height: 10%;
  width: 8%;
  position: absolute;
  left: 1%;
  top: 2%;
}
.inputName{
  width: 20%;
  padding: 1%;
  margin-right: 3px;
  
}

.inputDes{
  width: 40%;
  padding: 1%;
  margin: 3px;
}

.inputCredits{
  width: 15%;
  padding: 1%;
  margin: 3px;
}

.deletecourse{
  color: #700101;
  text-align: center;
}

.addcourse{
  color: #700101;
  text-align: center; 
}

.Year{
  padding: 0.2%;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.Semester{
  text-align: center;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
