.App {
  text-align: auto;
  margin-bottom: 1cm;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #038cfc;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  color:white;
}

.btn-lg{
  width: 20%;
}
.logo{
  height: 10%;
  width: 8%;
  position: absolute;
  left: 1%;
  top: 2%;
}
.inputName{
  width: 20%;
  padding: 1%;
  margin-right: 3px;
  
}

.inputDes{
  width: 40%;
  padding: 1%;
  margin: 3px;
}

.inputCredits{
  width: 15%;
  padding: 1%;
  margin: 3px;
}

.deletecourse{
  color: #700101;
  text-align: center;
}
.editcourse{
  text-align: center;  
}
.Actions{
  text-align: center;
  margin: 5px;
}

.addcourse{
  color: #700101;
  text-align: center; 
}

table, th, td, thead, tr {
  border: 1px solid black;
}

table{
  word-break: break-all;
  vertical-align: middle;
}
.column {
  float: left;
  padding: 10px;
  height: 300px;
  margin-left: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.kutta{
  background-color: black;
}
.Year{
  padding: 0.2%;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.Semester{
  text-align: left;
  margin-left: 200px;
}

.App-link {
  color: #61dafb;
}

